@charset "utf-8";

/* CSS Document */
@media (max-width:1320px) {
.flex-direction-nav .flex-prev {
	left: -20px;
}
.flex-direction-nav .flex-next {
	right: -20px;
}
.flexslider:hover .flex-direction-nav .flex-prev {
	left: -20px;
}
.flexslider:hover .flex-direction-nav .flex-next {
	right: -20px;
}
.caption-slider {
	top: 20px;
}

.servies-brand {
	display: inline-block;
	width:100%;
	}
.servies-brand ul li{
	width:20%;
	}
}

@media (max-width:1230px) {
.header .navbar-nav li {
	margin-right: 20px;
}
.caption-slider {
	top: 10px;
}
.caption-slider h2 {
	font-size: 26px;
}
.caption-slider p {
	font-size: 14px;
}
.do-yourself-sec p {
	font-size: 14px;
}
.do-yourself-sec h3 {
	font-size: 25px;
}
}

@media (min-width:992px) and (max-width:1230px) {
.slider .flex-direction-nav {
	width: 950px;
}
.header .navbar-brand {
	width: 330px;
}
.top-footer .about-bottom {
	line-height: 24px;
}
.knowmore-info {
	min-height: 180px;
}
.support-sec .support-bg {
	min-height: 170px;
}
.logo-caption {
  font-size: 12px;
  letter-spacing: 1px;
}
.logo-text {
  font-size: 27px;
}
}

@media (min-width:768px) and (max-width:991px) {
.navbar-nav {
	margin-top: 15px;
}
.header .navbar-nav li {
	margin-right: 14px;
}
.header .navbar-nav li a {
	font-size: 16px;
	padding: 10px 0 30px;
}
.header .navbar-brand {
	width: 240px;
}
.slider .flex-direction-nav {
	width: 700px;
}
.knowmore-info span {
	float: none;
	margin-right: 0px;
	margin-bottom: 10px;
	display: block;
}
.phone-top {
	padding-right: 6px;
}
.knowmore-info {
	min-height: 240px;
}

}

@media (max-width:991px) {
.top-footer h3 {
	font-size: 22px;
}

}

@media (max-width:767px) {
	.logo-text {
  font-size:20px;
	}
	
.header .navbar-nav {
	margin: 0px;
}
#bs-example-navbar-collapse-1 {
	background: #000;
	border-color: #da251c;
	margin-bottom: 10px;
}
.navbar-brand .desktop-logo {
	display: none;
}
.navbar-brand .logo-responsive {
	display: inline;
	height: auto;
}
.navbar-toggle {
	margin-top: 16px;
}
.header .navbar-nav > li > a {
	font-size: 16px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: normal;
	border-radius: 0px;
	color: #fff;
}
.header .navbar-nav li a:hover, .navbar-default .navbar-nav > li > a:focus, .header .navbar-nav li a.active {
	border-bottom: 1px solid #da251c;
	color: #da251c;
}
.header .navbar-nav > li:last-child a {
	border-bottom: none;
}
.header .navbar-nav li {
	margin-right: 0px;
}
.top-right-sec {
	padding-top: 10px;
	text-align: center;
}
.navbar-default .navbar-toggle {
	background-color: #2e375f;
	border-color: #2e375f;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #da251c;
	border-color: #da251c;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #fff;
}
.date-time {
	text-align: center;
}
.top-bar .text-right {
	text-align: center;
}
.caption-slider {
	display: none;
}
.slider .flex-direction-nav {
	width: 100%;
}
.header .navbar-brand {
	padding-bottom: 10px;
	padding-top: 10px;
	width: 280px;
}
.about-home-img img {
	width: 100%;
}
.about-home-contant h1 {
	margin-bottom: 10px;
	margin-top: 20px;
	font-size: 26px;
}
.top-footer {
	padding: 30px 0;
}
.bot-footer {
	padding: 20px 0;
}
.top-footer h3 {
	margin-top: 25px;
}
.flex-direction-nav .flex-prev {
	left: 10px;
}
.flex-direction-nav .flex-next {
	right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev {
	left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next {
	right: 10px;
}
.flex-direction-nav a::before {
	font-size: 40px;
}
.about-home {
	padding: 20px 0px;
}
.about-home-img {
	margin-bottom: 15px;
}
.for-enquiry {
	line-height: 24px;
	padding: 20px 15px 6px 10px;
}
.top-footer h3 {
	font-size: 25px;
}
.top-footer .footer-link li a {
	font-size: 16px;
}
.bot-footer .copy {
	width: 100%;
	text-align: center;
}
.footer-bottom-link {
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
h1.hading-title {
	font-size: 30px;
	margin-bottom: 20px;
}
.knowmore-info {
	margin-bottom: 20px;
}
.padd {
	padding: 40px 0;
}
.do-yourself-sec {
	margin-bottom: 20px;
}
.do-yourself-sec img {
	width: 100%;
}
.phone-top {
	padding-right: 10px;
	display:inline-block;
}

.servies-brand {
	display: block;
	width:98%;
	padding-left:20px;}
	
.servies-brand ul li{
	width:50%;
	padding-left:10px;}


}

@media (max-width:600px) {

}

@media (max-width:567px) {
.top-social-icon {
	display: block;
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.brands-logo ul li {
	width: 50%;
	padding:0px 10px;
}
}

@media (max-width:479px) {
.bot-footer .copy {
	width: 100%;
	text-align: center;
}
.bot-footer ul {
	float: right;
	text-align: center;
	width: 100%;
}
.header .navbar-brand {
	padding-bottom: 15px;
	width: 180px;
}
.bot-footer .copy {
  font-size: 11px;
}


h1.heading-title {font-size: 28px;}
	
.about-home-contant h4 {font-size: 23px;margin-bottom: 15px;}

.area h1 {font-size: 23px;}

.top-footer h3 {font-size: 20px; line-height:25px;}

.company {padding: 20px 0px 20px 0px;margin-bottom: 20px;}

.company h3 {font-size: 15px;line-height:20px;}

.servies-brand {
	display: block;
	width:98%;
	padding-left:20px;}
.servies-brand ul li{
	width:95%;
	padding-left:10px;}


}
